.*{

}
h1{
	color: #777;
	font-size: !important;
}
}
.Flex-conteiner{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
    background: #444;
	justify-content: center;
	margin: 100px 40px;
	padding: 50px 30px;
	border: 3px solid #FFD700;
}
.Form{
	 min-width: 400px;
	 flex:1;
	 text-align: center;

}
.Form__input{
	width: 100%;
	padding: 7px;
	margin: 6px 0;
	border: none;
	border-bottom: 3px solid #FFD700;
	background: transparent;
	color #fff
}
.Form__input:focus {
	background: linear-gradient(to bottom,transparent,#111);
	outline: none;
	border-bottom: 3px solid #FFFF00;

}
.Form-imagen{
	flex: 1;
	padding: 10px;
}
.Form textarea{
	min-height: 100px;
}
.Form-imagen img{
	width:100%;

}